h1 {
  text-align: center;
}

table {
  border: 1px solid #f1c40f;
  border-collapse: collapse; 
}
table thead {
  background: #9b59b6;
  color: #fff;
  border: 0;
}

tbody tr {
  color: #f1c40f;
  text-align: center;
}

tbody tr td {
  border-bottom: 1px solid #9b59b6;
}